{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>{{ restaurant.nom }}</h1>

            <p>
                {{ restaurant.adresse }} <br>
                {{ restaurant.cp }} - {{ restaurant.ville }}
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>Ouverture</th>
                    <th>Fermeture</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> {{ restaurant.ouverture | date('H:i') }}</td>
                    <td> {{ restaurant.fermeture | date('H:i') }}</td>
                </tr>
                </tbody>

            </table>
            {% for message in app.session.getFlashBag.get('error_like') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}
            <p>
                <a class="btn btn-primary btn-lg " href="{{ path('restaurant_index') }}" role="button">Retour à la liste
                    des restaurants</a>
                {% if userLike %}
                    <a class="btn btn-danger btn-lg " href="{{ path('restaurant_dislike', {'id' : restaurant.id}) }}"
                       role="button">Je dislike <span class="glyphicon glyphicon-remove"
                                                   aria-hidden="true"></span></a>
                {% else %}
                    <a class="btn btn-success btn-lg " href="{{ path('restaurant_like', {'id' : restaurant.id}) }}"
                       role="button">Je like <span class="glyphicon glyphicon-heart"
                                                   aria-hidden="true"></span> {{ restaurant.likes }}</a>
                {% endif %}

                <a class="btn btn-default btn-lg pull-right" href="{{ path('restaurant_update', {'id' : restaurant.id}) }}" role="button">
                    Mettre à jour
                </a>

            </p>
        </div>
    </div>

{% endblock %}