{% extends "layout.html.twig" %}

{% block content %}
    <div class="container">
        {% if menu is defined %}
            <h3>Modifier le menu {{ menu.nom }}</h3>
        {% else %}
            <h3>Enregister un nouveau Menu</h3>
        {% endif %}

        <form method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Nom</label>
                <input type="text" class="form-control" name="nom" id="exampleInputEmail1"
                       placeholder="Nom" {% if menu is defined %} value="{{ menu.nom }}" {% endif %} required>
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <input type="number" class="form-control" name="prix" id="prix"
                       placeholder="Prix" {% if menu is defined %} value="{{ menu.prix }}" {% endif %} required>
            </div>
            <div class="form-group">
                <label for="restau">Restaurant</label>
                <select name="restau" id="restau" class="form-control" required>
                    {% for restaurant in restaurants %}
                        <option value="{{ restaurant.id }}"
                                data-canonical="{{ restaurant.canonical }}" {% if menu is defined %}{% if restaurant.id == menu.restaurant.id %} selected{% endif %}{% endif %}> {{ restaurant.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="primary">Produit principal</label>
                <select name="primary" id="primary" class="form-control" required>
                    {% for primary in primarys %}
                        <option value="{{ primary.id }}"
                                data-canonical="{{ primary.restaurant.canonical }}" {% if menu is defined %}{% if primary.id == menu.produit.id %} selected{% endif %}{% endif %}> {{ primary.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="boisson">Boisson</label>
                <select name="boisson" id="boisson" class="form-control" required>
                    {% for boisson in boissons %}
                        <option value="{{ boisson.id }}" {% if menu is defined %}{% if boisson.id == menu.boisson.id %} selected{% endif %}{% endif %}> {{ boisson.nom }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="dessert">Produit principal</label>
                <select name="dessert" id="dessert" class="form-control" required>
                    {% for dessert in desserts %}
                        <option value="{{ dessert.id }}" {% if menu is defined %} {% if dessert.id == menu.dessert.id %} selected{% endif %} {% endif %}> {{ dessert.nom }}</option>
                    {% endfor %}
                </select>
            </div>

            <button type="submit" class="btn btn-default">Enregistrer</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>

        (function(){

            'use_strict';

            // on initialization
            var sel = document.getElementById('restau');
            var selected = sel.options[sel.selectedIndex];
            var slect = selected.dataset.canonical;
            hide(slect);

            //when it changes
            sel.addEventListener('change', function () {
                var result = this.options[sel.selectedIndex].dataset.canonical;
                hide(result);
            });

            function hide(canon) {
                var options = document.querySelectorAll('#primary option');
                [].forEach.call(options, function(option) {
                    if (option.dataset.canonical != canon){
                        option.style.display ='none';
                    }else{
                        option.style.display = 'block';
                        option.selected = true;
                    }
                });
            }
        })();

    </script>


{% endblock %}